.outerCard{
    display: flex;
    flex-direction: row;
    gap: 5px !important;
    align-items: center;
    justify-content: space-between;
}
.pieceButton{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 20px 0;

}
.plusMinusButton{
    background-color: white;
  border: 1px solid black;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.blockForPlaceOrder{
    height: 40px;
    display: flex;
    justify-content: flex-end;
    padding: 5px;
}
.homeMode{
    display: none;
}

@media (max-width: 768px) {
    .homeMode {
        display: block;
        /* Additional styles for .homeMode on mobile screens */
    }
    .outerCard {
        flex-direction: column;
    }
    .buttonStyle{
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        width: max-content !important;
    }
}